* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  opacity: 0.9;
  background-image: radial-gradient(#9a9dd4 0.4px, #282c34 0.4px);
  background-size: 8px 8px;
  display: flex;
  justify-content: center;
  overflow: visible
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%;
}

.no-records {
  text-align: center;
  font-weight: 900;
}

h4 {
  line-height: 0px;
}

.quiz-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 12%;
}


.quiz-title {
  color: aliceblue;

}

.quiz-section {
  text-align: left;
  background-color: aliceblue;
  border: 2px solid;
  min-width: 800px;
  max-width: fit-content;
  border-radius: 14px;
  margin: 25px 0px 25px;
  /* margin-top: 15%; */
}

.total-question-and-timer-section {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 10px;
}

input,
textarea,
select {
  border-radius: 4px;
  border: 2px solid #282c34;
  padding: 4px;
}

.submit_button {
  float: right;
  margin: 5px 32px 10px auto;
  font-size: larger;
  width: 120px;
}

button :hover {
  border-color: aliceblue;
}
